/*inspiration basics*/
@font-face {
	font-family: myFirstFont;
	src: url(poppins_regular.ttf);
}

*{
	font-family: myFirstFont;
	box-sizing: border-box;
}

body{
	margin: 0px;
}

.titleContainer {
	display: flex;
	justify-content: center;
	background-color: white;
	margin: 10px;
}

.titleContainer h1{
	margin: 0px;
}

.titleContainer a {
	text-decoration: none;
	color: black;
}

.navBar {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #CB997E;
}

.navBar a {
	text-decoration: none;
	color: black;
}

.pageTitle {
	display: flex;
	justify-content: center;
	padding: 15px;
	background-color: #EDDCD2;
	font-size: 20px;
}

.someText {
	display: flex;
	justify-content: center;
	padding: 30px 75px 30px 75px;
	background-color: #EBEEE3;
	font-weight: bold;
}

.choices {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	background-color: #EDDCD2;
}
.choices a {
	text-decoration: none;
	color: black;
}

.choices p{
	font-size: 25px;
/*	border-bottom: 2px solid;*/
	padding: 10px 150px 10px 150px;

}

.choices .occasion {
	font-weight: bold;
	border-bottom: 5px solid;
}

.season {
	border-bottom: 2px solid;
}



/*inspiration basics
/*occasion choices*/
.occasion {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	background-color: #EDDCD2;
	padding-top: 50px;
	padding-bottom: 50px;
}

.occasionChoice .myImage{
	width: 400px;
	height: 400px;
	border-radius: 50%;
	overflow: hidden;
}

.occasionChoice img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.occasionChoice p {
	display: flex;
	justify-content: center;
	font-size: 30px;
	font-weight: bold;
}
