@font-face {
	font-family: myFirstFont;
	src: url(poppins_regular.ttf);
}

*{
	font-family: myFirstFont;
	box-sizing: border-box;
}

body{
	margin: 0px;
}

.titleContainer {
	display: flex;
	justify-content: center;
	background-color: white;
	margin: 10px;
}

.titleContainer h1{
	margin: 0px;
}

.titleContainer a {
	text-decoration: none;
	color: black;
}

.navBar {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #CB997E;
}

.navBar a {
	text-decoration: none;
	color: black;
}

.edit {
	display: flex;
	justify-content: center;
}
